<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EnglishTest</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">EnglishTest</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @if (Context.Session.GetString("Username") != null)
                {
                    <div class="ms-auto">
                        <a class="nav-link" asp-controller="Login" asp-action="Logout">(@Context.Session.GetString("Username")) Logout</a>
                    </div>
                }
                else
                {
                    <div class="ms-auto">
                        <a class="nav-link" asp-controller="Login" asp-action="Index">Login</a>
                    </div>
                }
            </div>
        </nav>
    </header>
    <div class="container ">

        <div class="row">
            <div class="col-md-2">
                <div>
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                    @if (("1").Equals(Context.Session.GetString("Role")))
                    {
                        <a class="nav-link" asp-controller="ResultHistory" asp-action="Index" asp-route-userid="@int.Parse(Context.Session.GetString("Userid"))">Results History</a>
                        <a class="nav-link" asp-controller="HistoryAdmin" asp-action="Index">Users's Exam History</a>
                    }

                    @if (("3").Equals(Context.Session.GetString("Role")))
                    {
                        <a class="nav-link" asp-controller="ResultHistory" asp-action="Index" asp-route-userid="@int.Parse(Context.Session.GetString("Userid"))">Results History</a>
                    }
                </div>
            </div>
            <div class="col-md-9">
                <main role="main" class="pb-3">
                    @RenderSection("content", required: false)
                </main>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>